<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.SnowVolf.convertx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/Settings" />
        <activity
            android:name=".regexdragon.RegexDragon"
            android:label="@string/title_activity_regex_dragon"
            android:theme="@style/AppTheme" />
        <activity android:name=".palette.PaletteActivity" />
        <activity
            android:name=".other.AboutActivity"
            android:label="@string/about_program"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".other.ChangelistActivity"
            android:label="@string/changelog"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>