<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        tools:replace="android:name">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <activity
            android:name=".palette.PaletteActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:documentLaunchMode="intoExisting"
            android:label="@string/activity_palette"
            android:theme="@style/PaletteLight">

            <!-- Для экранов Galaxy S8, LG G6, и т.д. -->
            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />
        </activity>
        <activity android:name=".ui.activity.BaseActivity"/>
    </application>

</manifest>